block variables
	-var support1 = ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit magna, maximus eu luctus dapibus, vestibulum in."]
.content-head--two-c.content-head--author
	.content-two-c-bg
		.img-mask.mask-go.mask-two
			img(src="img/bg-top.jpg", alt="grandmother")
	.head-post--page
		span.date 14 September 2019
		h1 Understanding home care
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.
		.author-post
			.author-post--img
				img(src="img/Author.jpg", alt="")
			.author-post--content
				p William Cotton
				span Author
