.content-head--two-a
	.content-two-a-bg
		.img-mask.mask-go.mask-two
			img(src="img/bg-top.jpg", alt="grandmother")
	.content-head--wrapper
		.content-head--desc
			h1 Home care services
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, 
				br
				| fermentum sed consectetur ut, malesuada vel felis.
	.posts-wrapper
		.posts-item
			.posts-default
				.posts-img
					img(src="img/icon-head1.svg", alt="")
				h3 Hourly
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus.
				a(href="#").more-link
					| Find out more
					svg(width="20" height="20" viewBox="0 0 20 20").icon-more
						use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")
		.posts-item
			.posts-default
				.posts-img
					img(src="img/icon-head2.svg", alt="")
				h3 Overnight
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus.
				a(href="#").more-link
					| Find out more
					svg(width="20" height="20" viewBox="0 0 20 20").icon-more
						use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")
		.posts-item
			.posts-default
				.posts-img
					img(src="img/icon-head3.svg", alt="")
				h3 Live-in
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus.
				a(href="#").more-link
					| Find out more
					svg(width="20" height="20" viewBox="0 0 20 20").icon-more
						use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")
