block variables
	-var support1 = ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit magna, maximus eu luctus dapibus, vestibulum in."]
.content-head--two-c
	.content-two-c-bg
		.img-mask.mask-go.mask-two
			img(src="img/bg-top.jpg", alt="grandmother")
	.content-head--unflex
		.content-head--small
			h1 About TrustonTap
			p
				| A simpler, more affordable approach to home care, connecting people 
				br
				| in need directly with qualified carers in their local communities