.content-head--three
	.content-three-bg
		.img-mask.mask-go.mask-three
			img(src="img/bg-top.jpg", alt="grandmother")
	.content-head--wrapper
		.content-head--threedesc
			h1 
				| Better quality hourly
				br
				| home care near you.
			p
				| We connect you directly to local, qualified hourly, overnight
				br
				| or live-in care in your area from only £13/hour.

			.satisfaction-rating
				.satisfaction-rating--star
					.star-wrapper
						span.star-article.is-active
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
					span 4.8
				.satisfaction-rating--content
					h4 Customer satisfaction rating
					p based on 81 reviews since November 2018

		.content-head--right
			.circle-photo
				img(src="img/grandmother-small.jpg", alt="")