.content-head
	.content-one-bg
		.img-mask.mask-go.mask-one
			img(src="img/bg-top.jpg", alt="grandmother")
	.content-head--wrapper
		.content-head--desc
			h1
				| Better quality home
				br
				| care, for a better
				br
				| quality of life.
			p
				| We connect you directly to qualified hourly, overnight
				br
				| or live-in care across Oxfordshire, Buckinghamshire
				br
				| and Berkshire from only £13/hour.
			.content-head--button
				a(href="#").btn.btn-green
					span Find a carer
				a(href="#").btn.btn-whitebr
					span How it works
		.content-head--right
			.circle-photo
				img(src="img/grandmother-small.jpg", alt="")

			.satisfaction-rating
				.satisfaction-rating--star
					.star-wrapper
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
						span.star-article
							svg(width="34" height="32" viewBox="0 0 34 32").icon-star
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-star")
					span 4.8
				.satisfaction-rating--content
					h4 Average customer satisfaction rating
					p based on 145 reviews since November 2018
