block variables
	-var support1 = ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit magna, maximus eu luctus dapibus, vestibulum in."]
.content-head--two-b
	.content-two-a-bg
		.img-mask.mask-go.mask-two
			img(src="img/bg-top.jpg", alt="grandmother")
	.content-head--unflex
		.content-head--small
			h1 Dementia care
			p
				| Specialist assistance delivered with consistency and compassion
			
		.form-block
			p Where do you need care?
			.form-block--input.add-right--icon
				form
					input(type="text" placeholder="enter postcode")
					button.btn.btn-darkGreen.size-btn
						span Find a carer
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")