block variables
	-var support1 = ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit magna, maximus eu luctus dapibus, vestibulum in."]
.content-head--two-d
	.content-two-a-bg
		.img-mask.mask-go.mask-two
			img(src="img/bg-top.jpg", alt="grandmother")
	.content-head--wrapper
		.content-head--small
			h1 Getting started
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, 
				br
				| fermentum sed consectetur ut, malesuada vel felis.
			a(href="#").all-categories
				svg(width="20" height="20" viewBox="0 0 20 20").icon-more
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")
				| All categories
	.advice-support--main
		.advice-support--items
			+post("#", "img/support1.jpg", "ABOUT US", "Getting started", support1)
		.advice-support--items
			+post("#", "img/support2.jpg", "HOW IT WORKS", "Understanding home care", support1, "Jul 8, 2019")
		.advice-support--items
			+post("#", "img/support1.jpg", "SPECIALIST CARE", "Choosing the right care for your loved ones", support1, "Jul 8, 2019")