// Font colours

cfblue = #5d656b
cfblack = #4a4a4a

// Document colours

cdblue = #54bbbf
cdgreen = #b2d33d
cdorang = #f68b1f
cdpink = #f063a0

// Background colours

bglwhite = #f0f4fa
bglpink = #f9f7fd
bglgreen = #e6f7f7
bglblue = #76c9cc

fR = "ProximaNova-Regular"
fB = "ProximaNova-Bold"
fSB = "ProximaNova-Semibold"

@font-face
 	font-family: ProximaNova-Bold
 	font-style: normal
 	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')

@font-face
 	font-family: ProximaNova-Regular
 	font-style: normal
 	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')

@font-face
 	font-family: ProximaNova-Semibold
 	font-style: normal
 	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf')

html
	height 100%

body
html
	font-family fR
	c cfblack
	min-height 100%