.sub-menu
	.sub-menu--container
		.sub-menu--items
			.sub-menu--contain
				h6 Specialist care
				ul
					li
						a(href="#") Personal care
					li
						a(href="#") Dementia care
					li
						a(href="#") Alzheimers care
					li
						a(href="#") Respite care
					li
						a(href="#") End of life care
					li
						a(href="#") Cancer care
					li
						a(href="#") Companionship care

		.sub-menu--items
			.post-small
				.post-small--img
					a(href="#")
						img(src="img/support1.jpg", alt="")
				.post-small--text
					h4 Understanding home care
					p.max-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum dolor sit amet, consectetur elit magna…
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

		.sub-menu--items
			.post-small
				.post-small--img
					a(href="#")
						img(src="img/menu-post2.jpg", alt="")
				.post-small--text
					h4 How we compare to a traditional care agency
					p.max-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum dolor sit amet, consectetur elit magna…
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")