.sub-menu
	.sub-menu--container
		.sub-menu--items
			.sub-menu--contain
				h6 Home care services
				ul
					li
						a(href="#") Hourly care
					li
						a(href="#") Overnight care
					li
						a(href="#") Live-in care

			.sub-menu--contain
				h6 How it works
				ul
					li
						a(href="#") Arranging care
					li
						a(href="#") Prices
					li
						a(href="#") Our carers

		.sub-menu--items
			.post-small
				.post-small--img
					a(href="#")
						img(src="img/support1.jpg", alt="")
				.post-small--text
					h4 Understanding home care
					p.max-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum dolor sit amet, consectetur elit magna…
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

		.sub-menu--items
			.post-small
				.post-small--img
					a(href="#")
						img(src="img/menu-post2.jpg", alt="")
				.post-small--text
					h4 How we compare to a traditional care agency
					p.max-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum dolor sit amet, consectetur elit magna…
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")