.sub-menu
	.sub-menu--container
		.sub-menu--items
			.sub-menu--contain
				h6 Getting started
				ul
					li
						a(href="#") Understanding home care
					li
						a(href="#") Choosing the right care
					li
						a(href="#") Cost of care
				a(href="#").menu-view View all

			.sub-menu--contain
				h6 Ageing well
				ul
					li
						a(href="#") Nutrition
					li
						a(href="#") Avoiding hospitalisation
					li
						a(href="#") How to stay active
				a(href="#").menu-view View all

		.sub-menu--items
			.sub-menu--contain
				h6 Category title
				ul
					li
						a(href="#") Article title one
					li
						a(href="#") Article title two
					li
						a(href="#") Article title three
				a(href="#").menu-view View all

			.sub-menu--contain
				h6 Frequently asked questions
				.height-68
				a(href="#").btn.btn-white
					span View all categories
			//- .post-small
				.post-small--img
					a(href="#")
						img(src="img/support1.jpg", alt="")
				.post-small--text
					h4 Understanding home care
					p.max-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum dolor sit amet, consectetur elit magna…
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

		.sub-menu--items
			.post-small
				.post-small--img
					a(href="#")
						img(src="img/menu-post2.jpg", alt="")
				.post-small--text
					h4 How we compare to a traditional care agency
					p.max-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ipsum dolor sit amet, consectetur elit magna…
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")