.btn,
.btn-default
	position relative
	display inline-block
	min-width 194px
	height 48px
	font-size: 16px
	font-family: fB
	line-height 46px
	padding 0 18px
	text-align center
	color #fff
	cursor pointer
	user-select none
	text-decoration none
	border-radius: 24px
	overflow hidden
	background-color transparent
	trn(.2s)
	
	&.size-btn
		min-width 155px
		height 50px
		fFSB(18px)
		letter-spacing: 0.11px
	
	&.btn-green
		background: cdgreen
		line-height 48px
		&:hover
			background: cdblue
	
	&.btn-darkGreen
		background: cdblue
		line-height 45px !important
		border: 2px solid cdblue
		color #fff
		&:hover
			background: #fff
			color: cdblue
	
	&.btn-white
		background: #fff
		color cdblue
		border: 2px solid cdblue
		&:hover
			background: cdblue
			color: #fff
	
	&.btn-whitebr
		background: transparent
		line-height 45px !important
		border: 2px solid #fff
		&:hover
			color: cdblue
			background: #fff


// Animate button

// .btn-default
// 	position relative
// 	display inline-block
// 	min-width 194px
// 	height 48px
// 	font-size: 16px
// 	font-family: fB
// 	line-height 46px
// 	padding 0 21px
// 	text-align center
// 	color #fff
// 	cursor pointer
// 	text-decoration none
// 	border-radius: 24px
// 	user-select none
// 	overflow hidden
// 	background-color transparent
// 	-webkit-transition: .15s ease-in .3s
// 	-moz-transition: .15s ease-in .3s
// 	transition: .15s ease-in .3s
// 	span
// 		position relative
// 		z-index 10
// 		-webkit-transition: .15s ease-in .15s
// 		-moz-transition: .15s ease-in .15s
// 		transition: .15s ease-in .15s
// 	&:before,
// 	&:after
// 		position absolute
// 		left -2px
// 		content ""
// 		display block
// 		width 102%
// 		border-radius: 24px
// 	&:before
// 		height: 3px
// 		top: 50%
// 		margin-top: -1px
// 		transform: scale(0,1)
// 		transform-origin: 0 50%
// 		transition: 0s ease 0s
// 	&:after
// 		height: 100%
// 		top: 0
// 		transform: scale(1,0)
// 		transition: .15s ease-out 0s
// 	&:hover
// 			&:before,
// 			&:after
// 				transform: scale(1,1)
// 			&:before
// 				transition: .15s ease-in-out .15s
// 			&:after
// 				transition: .15s ease .3s

// 	&.size-btn
// 		min-width 155px
// 		height 50px
// 		fFSB(18px)
// 		letter-spacing: 0.11px

// 	&.btn-green
// 		background: cdgreen
// 		&:before,
// 		&:after
// 			background: cdblue

// 	&.btn-darkGreen
// 		background: cdblue
// 		border: 2px solid cdblue
// 		&:hover
// 			span
// 				color: cdblue
// 		&:before,
// 		&:after
// 			background: #fff
	
// 	&.btn-white
// 		color: cdblue
// 		border: 2px solid cdblue
// 		&:hover
// 			span
// 				color: #fff
// 		&:before,
// 		&:after
// 			background: cdblue
	
// 	&.btn-whitebr
// 		background: transparent
// 		border: 2px solid #fff
// 		&:hover
// 			span
// 				color: cdblue
// 		&:before,
// 		&:after
// 			background: #fff

// .button
// 	display inline-block
// 	min-width 230px
// 	height 48px
// 	line-height 46px
// 	text-align center
// 	c cWhite
// 	font-size 15px
// 	text-decoration none
// 	background: cPink
// 	border-radius 4px
// 	cursor pointer
// 	transition all .25s ease-out
// 	&:hover
// 		background: #f85f72
// 	@media screen and (max-width: 600px)
// 		font-size 12px
		