.section--vertical-step
	padding 52px 0 48px
	@media screen and (max-width: 480px)
		padding-top 38px

.vertical-step--wraper
	max-width 1040px
	margin 0 auto

.vertical-step--item
	display flex
	flex-direction row
	&:not(:last-child)
		margin-bottom 70px
		@media screen and (max-width: 540px)
			margin-bottom 40px
	&.arrow-step
		position relative
		.vertical-step--icon
			&:before
				position: absolute
				display: block
				content: ""
				bottom: -60px
				right: -80px
				width: 126px
				height: 22px
				background-image: url(../img/arrow-figure1.svg)
				background-repeat: no-repeat
				transform: rotateZ(90deg)
				@media screen and (max-width: 768px)
					display none
			
		&:nth-child(even)
			.vertical-step--icon
				&:before
					position: absolute
					display: block
					content: ""
					bottom: -60px
					left: -80px
					width: 126px
					height: 22px
					background-image: url(../img/arrow-figure1.svg)
					background-repeat: no-repeat
					transform: rotateZ(90deg) rotateX(180deg)
					
					@media screen and (max-width: 768px)
						display none
		
		&:last-child
			.vertical-step--icon
				&:before
					display none

.vertical-step--icon
	position relative
	max-width 100px
	min-height 105px
	display flex
	align-items center
	justify-content center
	margin-right 62px
	@media screen and (max-width: 768px)
		margin-right 35px
	@media screen and (max-width: 540px)
		min-width 55px
		align-items baseline
		margin-right 20px
	img
		@media screen and (max-width: 540px)
			max-width 55px
			width 100%
			height auto

.vertical-step--content
	@media screen and (max-width: 540px)
		padding-top 12px
	.num-step
		display inline-block
		ffSB(24px)
		letter-spacing: -0.11px
		c cfblack
		margin-bottom 13px
		@media screen and (max-width: 540px)
			font-size 14px
			margin-bottom 0
	
	h3
		ffSB(36px)
		c cfblack
		letter-spacing: -0.16px
		line-height 38px
		@media screen and (max-width: 540px)
			font-size 22px
			line-height 24px
			margin-bottom 28px
	
	p
		ffR(18px)
		letter-spacing: 0.38px
		line-height: 27px
		c cfblue
		@media screen and (max-width: 540px)
			position relative
			left -75px
			font-size 14px
			line-height 20px
			width: calc(100% + 75px)
		