section.sectiom--support-info
	.container
		.support-info
			+heading("INFORMATION", "Advice & support")
			.support-info--content
				.support-info--img
					img(src="img/support-info.jpg", alt="")
				.support-info--text
					.support-heading
						span SPECIALIST CARE
						h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					span.date-default Jul 8, 2019
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit magna, maximus eu luctus dapibus, vestib ulum in. Lorem ipsum dolor sit amet, consectetur adipiscing dapibus, vestib ulum elit.
					a(href="#").more-link
						| Continue reading
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

			.support-info--button.text-center
				a(href="#").btn.btn-white.size-btn
					span view more