section.care-step
	.container
		.care-step--wrapper
			+heading("JOIN US", "Looking to join our team?")
			.care-step--main.owl-mobile.owl-carousel
				.care-step--items.arrot-top---next
					.steps
						.steps-img
							img(src="img/step1.svg", alt="")
						h3 Step 1
						p
							| Choose what you would
							br
							| like help with.
						span Once we know what you want, we will match you with suitable carers in your area.
				.care-step--items.arrot-bottom---next
					.steps
						.steps-img
							img(src="img/step2.svg", alt="")
						h3 Step 2
						p
							| Select one of our trusted
							br
							| carers.
						span We help you review carer profiles and choose one that best meets your needs.
				.care-step--items
					.steps
						.steps-img
							img(src="img/step3.svg", alt="")
						h3 Step 3
						p 
							| Book a carer to your
							br
							| home.
						span Arrange an appointment and pay online. If you are not happy you can cancel at any time.
			.container
				.mobile-navigation
					.slider_dot
					.slider_nav
			.button--care-step
				a(href="#").btn.btn-white.size-btn
					span apply now