section.form-block--wrapper
	.container
		
		.form-block.form-block--offset
			p Where do you need care?
			.form-block--input.add-right--icon
				form
					input(type="text" placeholder="enter postcode")
					button.btn.btn-darkGreen.size-btn
						span Find a carer
						svg(width="20" height="20" viewBox="0 0 20 20").icon-more
							use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

		//- .form-block.form-block--offset.form-block--reverse
		//- 	.form-block--input.add-left--icon
		//- 		form
		//- 			input(type="text" placeholder="enter postcode")
		//- 			button.btn.btn-darkGreen.size-btn
		//- 				span Find a carer
		//- 				svg(width="20" height="20" viewBox="0 0 20 20").icon-more
		//- 					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")
		//- 	p Where do you need care?
