section.trusted-wrapper
	.container
		.heading-main
			span.head-line--desc
				| TRUSTED CARERS
			h2 Care that’s right for you, as and when it’s needed.
			p Whatever support and care you need, we are here to help. We match you or your family with experienced, understanding and certified carers who can assist with everything from simple companionship and general assistance about the home, to more involved care for those with dementia or end of life needs - at prices you can afford.

		.trusted-care
			.trusted--care-wrapper
				.care--items
					+care('#',"img/care-svg/icon-care1.svg", "Personal")
				.care--items
					+care('#',"img/care-svg/icon-care2.svg", "Dementia")
				.care--items
					+care('#',"img/care-svg/icon-care3.svg", "Alzheimers")
				.care--items
					+care('#',"img/care-svg/icon-care4.svg", "Respite")
				.care--items
					+care('#',"img/care-svg/icon-care5.svg", "End of life")
				.care--items
					+care('#',"img/care-svg/icon-care6.svg", "Cancer")
				.care--items
					+care('#',"img/care-svg/icon-care7.svg", "Companionship")
				.care--items
					a(href="#").find-care
						p Find a carer
						span.more-big
							svg(width="20" height="20" viewBox="0 0 20 20").icon-more
								use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")