section.looking-care.background-swirl
	.container
		.looking-care--wrapper
			.looking-care--items
				.looking-care--content(style="background: url(img/looking-care1.jpg)")
					h3 I’m looking for care
					p We’ll connect you directly with a local carer.
					a(href="#").btn.btn-green
						span Find a carer
			.looking-care--items
				.looking-care--content(style="background: url(img/looking-care2.jpg)")
					h3 I’m looking for a care job
					p Talk to us and begin your journey to a
						br
						| rewarding career.
					a(href="#").btn.btn-darkGreen
						span Find a care job