section.section-content
	.container
		h3
			| One-column heading
			span .
		.wrapper-column
			.column-12
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

		.section-content--btn
			a(href="#").btn.btn-white.size-btn
				span learn more

section.section-content
	.container
		.wrapper-column
			.column-12
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

section.section-content
	.container
		h3
			| One-column heading
			span .
		.wrapper-column
			.column-12
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

		.section-content--btn
			a(href="#").btn.btn-white.size-btn
				span learn more

section.section-content
	.container
		h3
			| Heading
			span .
		.wrapper-column
			.column-6
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.
			
			.column-6
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

		.section-content--btn
			a(href="#").btn.btn-white.size-btn
				span learn more

section.section-content
	.container
		h3
			| Heading
			span .
		.wrapper-column
			.column-4
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.
			
			.column-4
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

			.column-4
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis.

		.section-content--btn
			a(href="#").btn.btn-white.size-btn
				span learn more

section.section-content
	.container
		.wrapper-column
			.column-6
				h3
					| Heading
					span .
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

				.section-content--btn
					a(href="#").btn.btn-white.size-btn
						span learn more
			
			.column-6.media-col
				.content-media
					img(src="img/looking-care2.jpg", alt="")

section.section-content
	.container
		.wrapper-column
			.column-6.media-col
				.content-media
					<iframe width="560" height="315" src="https://www.youtube.com/embed/CIqiB9zSLmM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			.column-6
				h3
					| Heading
					span .
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Sed mauris tellus, fermentum sed consectetur ut, malesuada vel felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

				.section-content--btn
					a(href="#").btn.btn-white.size-btn
						span learn more

section.section-links
	.container
		.links-big--wrapper
			.links-big--items
				a(href="#").links-big
					span Arranging care
					svg(width="20" height="20" viewBox="0 0 20 20").icon-more
						use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

			.links-big--items
				a(href="#").links-big
					span Pricing
					svg(width="20" height="20" viewBox="0 0 20 20").icon-more
						use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")

			.links-big--items
				a(href="#").links-big
					span Our carers
					svg(width="20" height="20" viewBox="0 0 20 20").icon-more
						use(xlink:href="img/icon-svg/sprite-icon.svg#icon-more")