section.section-slider
	.bg-slide
	+heading("OUR CARERS", "Meet our carers")
	.slider-carers.owl-carousel
		.item
			.slider-carers--item
				.slider-carers--img
					img(src="img/slider-carers1.jpg", alt="Carer")
				h4.slider-carers--name Donna W
				p.slider-carers--university South Oxfordshire
		.item
			.slider-carers--item
				.slider-carers--img
					img(src="img/slider-carers1.jpg", alt="Carer")
				h4.slider-carers--name Donna W
				p.slider-carers--university South Oxfordshire
		.item
			.slider-carers--item
				.slider-carers--img
					img(src="img/slider-carers1.jpg", alt="Carer")
				h4.slider-carers--name Donna W
				p.slider-carers--university South Oxfordshire
		.item
			.slider-carers--item
				.slider-carers--img
					img(src="img/slider-carers1.jpg", alt="Carer")
				h4.slider-carers--name Donna W
				p.slider-carers--university South Oxfordshire
		.item
			.slider-carers--item
				.slider-carers--img
					img(src="img/slider-carers1.jpg", alt="Carer")
				h4.slider-carers--name Donna W
				p.slider-carers--university South Oxfordshire
		.item
			.slider-carers--item
				.slider-carers--img
					img(src="img/slider-carers1.jpg", alt="Carer")
				h4.slider-carers--name Donna W
				p.slider-carers--university South Oxfordshire

	.container
		.slider-carers-nav
			.slider_dot
			.slider_nav