.new-rating
	.star-item
		svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars
			use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNew")
		svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars
			use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNew")
		svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars
			use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNew")
		svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars
			use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNew")
		svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars
			use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNew")
	
	.star-hover

			.star-hover--right
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")
			.star-hover--left
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")

			.star-hover--right
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")
			.star-hover--left
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")

			.star-hover--right.is-active
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")
			.star-hover--left
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")

			.star-hover--right
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")
			.star-hover--left
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")

			.star-hover--right
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")
			.star-hover--left
				svg(width="26px" height="24px" viewBox="0 0 26 24").icon-stars-hover
					use(xlink:href="img/icon-svg/sprite-icon.svg#icon-starNewHover")