section.subscribe-wrapper
	.container
		+heading("STAY IN TOUCH", "Subscribe to our newsletter", "Stay up-to-date with the latest news & information on care at home.")
		.subscribe-main
			.subscribe-form
				form
					input(placeholder="enter your email")
					button(type="submit").btn.btn-darkGreen.subscribe-btn.size-btn
						span Subscribe

			.subscribe-form--mobile
				form
					input(type="text" placeholder="first name")
					input(type="text" placeholder="email address")
					.subscribe-form--mobile-btn
						button.btn.btn-darkGreen.subscribe-btn.size-btn Subscribe