section.section--vertical-step
	.container
		.vertical-step--wraper
			.vertical-step--item.arrow-step
				.vertical-step--icon
					img(src="img/step1.svg", alt="")
				.vertical-step--content
					span.num-step Step 1: 
					h3 Register your details
					p First time using TrustonTap? We will ask a few simple questions to see what help you need.

			.vertical-step--item.arrow-step
				.vertical-step--icon
					img(src="img/step2.svg", alt="")
				.vertical-step--content
					span.num-step Step 2:
					h3 Begin your search
					p We will show you a selection of carers and help you find one that meets your needs and your budget.

			.vertical-step--item.arrow-step
				.vertical-step--icon
					img(src="img/step3.svg", alt="")
				.vertical-step--content
					span.num-step Step 3:
					h3 Connect with your carer
					p We will help you connect with your chosen carer to arrange an introductory visit.

