header
	.header
		.container.header-small--flex
			.left-block--header
				.logo-top--small
					a(href="#")
						img(src="img/logo-head.svg", alt="Logo", width="133")
				//- .location
				//- 	p
				//- 		span.icon-sprite
				//- 			svg(width="9" height="13" viewBox="0 0 9 13").icon-location
				//- 				use(xlink:href="img/icon-svg/sprite-icon.svg#icon-location")
				//- 		| Banbury
				//- nav.main-menu
				//- 	ul.menu-top
				//- 		li.sub-list
				//- 			a(href="#") Home care services
				//- 			include header/sub-menu/sub-menu--home

				//- 		li.sub-list
				//- 			a(href="#") Specialist care
				//- 			include header/sub-menu/sub-menu--specialist

				//- 		li.sub-list
				//- 			a(href="#") Advice & support
				//- 			include header/sub-menu/sub-menu--advice

				//- 		li.sub-list
				//- 			a(href="#") About us
				//- 			include header/sub-menu/sub-menu--about

			.right-block--header
				.callback
					a(href="#").callback--request Request callback
					a(href="tel:08082781112").callback--phone 0808 278 1112
				.login
					a(href="#location-popup").popup Login
	include header/mobile-menu