.popup-step.zoom-anim-dialog#step-form
	.custom-close
		| Close
		svg(width="35" height="35" viewBox="0 0 35 35").icon-close
			use(xlink:href="img/icon-svg/sprite-icon.svg#close")
	.container-popup
		+heading("FIND A CARER", "Find a trusted, local carer today", "Simply let us know about the care you need, and we can match you with the most suitable carers for you.")

		//- .wrapper--form-step
		//- 	.form-step--items
		//- 		p Step 1
		//- 	.form-step--items
		//- 		p Step 2
		//- 	.form-step--items
		//- 		p Step 3
		//- 	.form-step--items
		//- 		p Step 4

		//- .wrapper--load-step
		//- 	p 15% completed
		//- 	#loading-step
		//- 		span


