.trusted-wrapper
	padding-top 60px
	overflow hidden
	@media screen and (max-width: 600px)
		padding-top 20px
	.heading-main
		margin-bottom 46px

.trusted--care-wrapper
	display flex
	flex-direction row
	flex-wrap wrap
	margin 0 -22px
	@media screen and (max-width: 1160px)
		margin 0 -10px
	@media screen and (max-width: 480px)
		margin 0 -7px
.care--items
	width 25%
	padding 0 22px
	margin-bottom 32px
	@media screen and (max-width: 1160px)
		padding 0 10px
		margin-bottom 20px
	@media screen and (max-width: 768px)
		width 50%
	@media screen and (max-width: 480px)
		padding 0 7px
		margin-bottom 15px
.care
	display block
	height: 282px
	padding-top 58px
	box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.09)
	border-radius: 5px
	background-color: #ffffff
	text-decoration none
	text-align center
	trn(.2s)
	@media screen and (max-width: 1160px)
		height 220px
		padding-top 28px
	@media screen and (max-width: 480px)
		height 205px
		display flex
		flex-direction column
		justify-content center
		padding-top 0
	@media screen and (max-width: 414px)
		height 145px
	@media screen and (max-width: 320px)
		height 128px
	&:hover
		box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.2)
	p
		ffB(23px)
		c cfblack
		letter-spacing: -0.1px
		line-height: 23px
		text-align center
		@media screen and (max-width: 480px)
			font-size 1.2rem
			line-height 15px
		@media screen and (max-width: 320px)
			font-size 15px
	.care-text-desc
		font-size: 1rem
		font-family: ProximaNova-Regular
		letter-spacing: .02125rem
		line-height: 1.5rem
		color: #5d656b
		margin-bottom: 14px
		max-height: 72px
		overflow: hidden
		max-width 200px
		margin 10px auto 0
	.care-img
		min-height 105px
		width 100%
		display flex
		flex-direction row
		justify-content center
		align-items center
		margin-bottom 16px
		@media screen and (max-width: 480px)
			min-height 60px
		img
			@media screen and (max-width: 480px)
				max-height 56px

.find-care
	display flex
	flex-direction column
	justify-content center
	align-items center
	height: 282px
	box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.09)
	border-radius: 5px
	background-color: #54bbbf
	text-decoration none
	trn(.2s)
	@media screen and (max-width: 1160px)
		height 220px
	@media screen and (max-width: 414px)
		min-height 120px
		height: 100%
		flex-direction column-reverse
	&:hover
		box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.2)
		svg
			fill #b2d33d
	p
		ffB(23px)
		color #fff
		letter-spacing: -0.1px
		line-height: 23px
		margin-bottom 30px
		@media screen and (max-width: 414px)
			font-size 15px
			line-height 15px
			margin-bottom 0

.more-big
	svg
		width 50px
		height 50px
		fill #fff
		trn(.2s)
		@media screen and (max-width: 414px)
			width 30px
			height 30px
			margin-bottom 23px