.request-form
	padding 52px 0 50px
	@media screen and (max-width: 480px)
		padding 28px 24px
	.heading-main
		p
			max-width 730px
	
	.request-form--wrapper
		padding-top 49px
		@media screen and (max-width: 480px)
			padding-top 20px

.request-form--wrapper
	max-width 442px
	margin 0 auto
	.customs-input
		margin-bottom 20px
		@media screen and (max-width: 480px)
			margin-bottom 13px
	
	.radio--wrapper
		display flex
		flex-direction row
		justify-content space-between
		flex-wrap wrap
		margin 0 -6px
		
		.radio-items
			padding 0 6px
			&:not(:last-child)
				@media screen and (max-width: 480px)
					margin-bottom 13px				

.when-to-call
	padding-top 50px
	@media screen and (max-width: 480px)
		padding-top 28px
	h4
		margin-bottom 33px
		@media screen and (max-width: 480px)
			margin-bottom 22px
	
	.radio-items:not(:nth-last-child(-n+2))
		margin-bottom 19px
	
	.botton-request
		margin-top 51px
		@media screen and (max-width: 480px)
			margin-top 26px