.speak-to-us
	padding-top 75px
	padding-bottom 75px
	@media screen and (max-width: 540px)
		display none
		padding 24px 0

.request-callback
	display flex
	flex-direction row
	align-items center
	justify-content center
	margin-top 15px
	@media screen and (max-width: 480px)
		display block
		text-align center
	p
		ffR(20px)
		letter-spacing: 0.13px
		c cfblack
		margin-right 12px
		@media screen and (max-width: 480px)
			margin-right 0
			margin-bottom 15px
		span
			font-family: fSB

main
	overflow hidden